 /*CONTACT SECTION*/

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
   
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/cosmos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.hero h1 {
    display: flex;
    margin:0;
}
.hero img {
    max-width: 20%;
    margin: 0px;
}

.contactContainer {
    background: black;
    width: 55%;
    padding: 2% 2% 2% 2%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    color: white;
    font-family: 'Teko', sans-serif;
}

.contactChildren {
    display: flex;
    flex-direction: column;
    margin: 30px 10px 30px 10px;
    gap: 10px;
}

input:not([type="submit"]) { 
    padding: 10px;
    border: 2px solid green;
    outline: none;
    border-radius: 6px;
}

textarea {
    padding: 30px;
    border: 2px solid green;
    outline: none;
    border-radius: 6px;
}

/*mediaquery*/

@media screen and (max-width: 768px) {
    
   
}