 /*CONTACT SECTION*/

.hero {
    background-image: url("assets/cosmos.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}
 #h1contact {
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    margin-top: 10%;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

.sabre {
    margin-left: 30%;
    margin-right: 30%;
}

.contactForm {
    background: black;
    width: 50%;
    padding: 2% 2% 2% 2%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    color: white;
    font-family: 'Teko', sans-serif;
}

.prenom-nom {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
}

#prenom {
    margin-right: 0.5%;
}

#nom {
    margin-left: 0.5%;
}

.email-message {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#email {
width: 95%;    
}

.message {
    margin-top: 30px;
    width: 95%;
    padding-top: 15px;
    padding-bottom: 15px;
   
}

textarea,
input:not([type="submit"]) { 
    width: 100%;
    padding: 10px;
    border: 2px solid green;
    outline: none;
    border-radius: 6px;
}