.mainhead {
    color: white;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
}
.active {
    color : white;
    text-decoration: none;
}
nav {
    background: black;
    min-height: 8vh;
    display: flex;
    align-items: center;
    padding: 0.2rem;
}
nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.logo {
    flex: 1 1 40rem;
}
.active::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: green;
    transition: width 0.3s;
  }
  .active:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
 /*FOOTER SECTION*/
 footer {
     background:black;
     margin-top: 5%;
     width: 100%;
    }
 .copyright {
     text-align: center;
    font-weight: bold;
    color: green;
    font-family: 'Teko', sans-serif;
 }
 .arborescence ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Teko', sans-serif;
    font-size: 16px;
    padding: auto;
 }
 .arborescence ul li {
     list-style: none;
 }
 .arborescence ul {
     padding-top: 10%;
 }
 .imagefooter {
     display: flex;
    align-items:center;
 }
 .rs {
    color: green;
    font-weight: bold; 
    display: flex; 
    flex-direction: row;
    gap: 10px;
    align-items: center;
 }
 .container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
 }

h2, h3 {
    color: black;
    font-family:'Teko', sans-serif;
}

button {
    display: inline-block;
    background-color: green;
    border-radius: 20px;
    border: 2px #CCCCCC;
    color: #EEEEEE;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 125px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: rgb(0, 161, 0);
    color: black;
}

h3 {
    font-size:medium;
}

p {
    color:rgb(31, 29, 29);
    font-family: 'Red Hat Display', sans-serif;
    font-size: medium;
}
/*page event*/

.eventtitle {
    background-image: url(img/eventpresentation.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
    margin-top: 5rem;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/eventpresentation.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.eventtitle img {
    max-width: 20%;
    margin: 0px;
}

.eventpresentationsection {
    text-align: justify;
    margin: 3rem;
}

.eventscards {
    text-align: justify;
    margin-right: 8rem;
    margin-left: 8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start stretch;
}
.eventscards img {
    height : 10rem;
}

.event1 {
    max-width: 23%;
    padding: 30px;
    -webkit-box-shadow: 0px 8px 9px 2px rgba(0,0,0,0.28); 
    box-shadow: 0px 8px 9px 2px rgba(46, 44, 44, 0.28);
    border: 1px groove rgba(23, 54, 24, 0.45);
    border-radius: 8px;
    background-color: rgba(228, 227, 227, 0.61);
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.event2 {
    max-width: 23%;
    padding: 30px;
    -webkit-box-shadow: 0px 8px 9px 2px rgba(0,0,0,0.28); 
    box-shadow: 0px 8px 9px 2px rgba(46, 44, 44, 0.28);
    border: 1px groove rgba(23, 54, 24, 0.45);
    border-radius: 8px;
    background-color: rgba(228, 227, 227, 0.61);
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.event3 {
    max-width: 23%;
    padding: 30px;
    -webkit-box-shadow: 0px 8px 9px 2px rgba(0,0,0,0.28); 
    box-shadow: 0px 8px 9px 2px rgba(46, 44, 44, 0.28);
    border: 1px groove rgba(23, 54, 24, 0.45);
    border-radius: 8px;
    background-color: rgba(228, 227, 227, 0.61);
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.event4 {
    max-width: 23%;
    padding: 30px;
    -webkit-box-shadow: 0px 8px 9px 2px rgba(0,0,0,0.28); 
    box-shadow: 0px 8px 9px 2px rgba(46, 44, 44, 0.28);
    border: 1px groove rgba(23, 54, 24, 0.45);
    border-radius: 8px;
    background-color: rgba(228, 227, 227, 0.61);
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.event5 {
    max-width: 23%;
    padding: 30px;
    -webkit-box-shadow: 0px 8px 9px 2px rgba(0,0,0,0.28); 
    box-shadow: 0px 8px 9px 2px rgba(46, 44, 44, 0.28);
    border: 1px groove rgba(23, 54, 24, 0.45);
    border-radius: 8px;
    background-color: rgba(228, 227, 227, 0.61);
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.event6 {
    max-width: 23%;
    padding: 30px;
    -webkit-box-shadow: 0px 8px 9px 2px rgba(0,0,0,0.28); 
    box-shadow: 0px 8px 9px 2px rgba(46, 44, 44, 0.28);
    border: 1px groove rgba(23, 54, 24, 0.45);
    border-radius: 8px;
    background-color: rgba(228, 227, 227, 0.61);
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/*mediaquery*/

@media screen and (max-width: 600px){
    .eventtitle {
        height: 17rem;
    }

    .eventscards {
        display:flex;
        flex-direction: column;
        margin-left: 3rem;
        margin-right: 3rem;
        flex-wrap: none;
        width: 95%;
        min-width:80%;
        justify-content: center;

    }
    .event1, .event2, .event3, .event4, .event5, .event6 {
        min-width: 70%;
        max-width: 75%;

    }
    .eventscards img {
        height: auto;
    }
}

@media screen and (min-width: 600px) and (max-width:1150px) {
    .event1, .event2, .event3, .event4, .event5, .event6 {
        min-width: 35%;
        max-width: 40%;
    }
    .eventscards {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}