body {
    background-image: whitesmoke;
    margin: 0px;
}

h1, h2, p {
    color: #C0BBD9;
}

button {
    background-color: #C0BBD9 ;
    color: #5F5884;
    border-radius: 50%;

}



/* portfolio css part */

.gallery-title {
    font-family : 'Gemunu Libre', sans-serif;
    font-size: 6em;
    text-align: center;

}




.gallery-container{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows : repeat(34, 5vw);
    grid-gap: 0px;

}

  .image:hover {opacity: 0.7;}
  

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  
  }

 .gallery-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 9;
        margin: 10px;
    }      
    
    .gallery-2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 9;
        margin: 10px;
    }      
    
    .gallery-3 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 6;
        margin: 10px;
    }      
    
    .gallery-4 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 13;
        margin: 10px;
    }    
    
    .gallery-5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 13;
        grid-row-end: 19;
        margin: 10px;
    }      
    
    .gallery-6 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 13;
        margin: 10px;
    }      

    .gallery-7 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 19;
        grid-row-end: 23;
        margin: 10px;
    }      

    .gallery-8 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 19;
        grid-row-end: 23;
        margin: 10px;
    }      

    .gallery-12 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 19;
        grid-row-end: 23;
        margin: 10px;
    }      

    .gallery-9 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 23;
        grid-row-end: 29;
        margin: 10px;
    }      

    .gallery-10 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 23;
        grid-row-end: 28;
        margin: 10px;
    }      

    .gallery-11 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 29;
        grid-row-end: 34;
        margin: 10px;
    }      

    .gallery-13 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 28;
        grid-row-end: 34;
        margin: 10px;
    }      
    
   
/* mobile part */

@media screen and (max-width: 600px) {
    


}