/* HEADER SECTION DESKTOP*/
body {
    background: whitesmoke;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: white;
   }

a:hover {
    color: white;
}



h2, h3 {
  font-family: 'Teko', sans-serif;
}

h2, h3, p {
    color: #000000;
}

h1 {
    font-family: 'Teko', sans-serif;
    color: #fff;
    font-size: 6rem;
    margin-bottom: -2rem;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}



.mainhead {
    color: white;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
}

.active {
    color : white;
    text-decoration: none;
}

nav {
    background: black;
    min-height: 8vh;
    display: flex;
    align-items: center;
    padding: 0.2rem;

}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.logo {
    flex: 1 1 40rem;
}

.active::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: green;
    transition: width 0.3s;
  }
  
  .active:hover::after {
    width: 100%;
    transition: width 0.3s;
  }

 /*FOOTER SECTION*/

 footer {
     background:black;
     margin-top: 5%;
     width: 100%;
    }
     
 .copyright {
     text-align: center;
    font-weight: bold;
    color: green;
    font-family: 'Teko', sans-serif;
 }

 .arborescence ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Teko', sans-serif;
    font-size: 16px;
    padding: auto;
 }

 .arborescence ul li {
     list-style: none;
 }

 .arborescence ul {
     padding-top: 10%;
 }

 .imagefooter {
     display: flex;
    align-items:center;
 }

 .rs {
    color: green;
    font-weight: bold; 
    display: flex; 
    flex-direction: row;
    gap: 10px;
    align-items: center;
 }

 .container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
 }

 button {
    display: inline-block;
    background-color: green;
    border-radius: 20px;
    border: 2px #CCCCCC;
    color: #EEEEEE;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 125px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'Teko', sans-serif;
}

button:hover {
    background-color: rgb(0, 161, 0);
    color: black;
}
