section {
    width: 80%;
    margin: auto;
}

.tutorial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15rem;
}

.tutorial-container {
    flex: 3;
    margin-right: 5rem;
}

.tutorial-container img {
    max-width: 30rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.tutorial-text {}

.more-tutorials-column {
    flex: 1;
    padding-left: 2rem;
    border-left: solid 1px #000000;
}

.other-tutorial {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(228, 227, 227, 0.61);
    border-radius: 20px;
    gap: 1rem;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.other-tutorial img {
    align-self: center;
}

.other-tutorial img {
    max-width: 20rem;
}

@media screen and (max-width: 1200px) {
    .tutorial {
        margin-top: 8rem;
    }
    
    .tutorial-container {
        max-width: 100%;
    }

    .tutorial-container img {
        max-width: 22rem;
    }
    
    hr {
        display: none;
    }
    .more-tutorials-column-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

    }
    .more-tutorials-column {
        margin-top: 3rem;
        padding-left: 0rem;
        border-left: none;
    }
    .other-tutorial {
        max-width: 20rem;
    }
}